Resonance Parameters
============

We can figure out our resonance parameters for the reaction by using the NNDC's database. Our compound nucleus is 28Si, so the we want to make sure we take the information from this one.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [25]:
url = 'http://www.nndc.bnl.gov/chart/getdataset.jsp?nucleus=28SI&unc=nds'

df = pd.read_html(url)
df = df[0]

names = df.iloc[0]
names[8] = 'Final level Jπ'
df.columns = names
df = df[1:]
df.head()

,Elevel (keV),XREF,Jπ,T1/2,Eγ (keV),Iγ,γ mult.,Final level,Final level Jπ
1,0.0,ABCDEFG IJKLMN P,0+,STABLE,NaN,NaN,NaN,NaN,NaN
2,1779.030 11,ABC IJK OP,2+,475 fs 17,1778.969 11,100,E2,0.0,0+
3,4617.86 4,BC IJK MN P,4+,37 fs 4,2838.29 15,100,(E2),1779.030,2+
4,4979.92 8,B F IJK MN P,0+,35 fs 2,3200.7 5,100,E2,1779.030,2+
5,6276.20 7,B F IJK MN P,3+,0.78 ps 6,1658.2 4496.92 25,13.4 4 100.0 4,(M1+E2),4617.86 1779.030,4+2+